.flows.json.backup
[
    {
        "id": "633262fa0d86b337",
        "type": "tab",
        "label": "microservices",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d32bf0daa5f5bf4",
        "type": "tab",
        "label": "scenes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dd4192887583b3c",
        "type": "subflow",
        "name": "On / Off",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "9391f6c7b5fb719f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "92844732e92b3898",
        "type": "junction",
        "z": "7dd4192887583b3c",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "7ae781b23da54c3d"
            ]
        ]
    },
    {
        "id": "626ca8253ee16b0e",
        "type": "junction",
        "z": "5d32bf0daa5f5bf4",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "b2ce5693fd06cad5",
                "b0d1884355d3fba4"
            ]
        ]
    },
    {
        "id": "f1f0d9d353303121",
        "type": "junction",
        "z": "5d32bf0daa5f5bf4",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "58e888936d8f6c7e",
                "5fb7b5c4aca59f30"
            ]
        ]
    },
    {
        "id": "52b72e600b4c4b70",
        "type": "junction",
        "z": "5d32bf0daa5f5bf4",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "14c88ab80d6c05c0",
                "7506236de1ecf70a"
            ]
        ]
    },
    {
        "id": "894294131f95bc12",
        "type": "junction",
        "z": "5d32bf0daa5f5bf4",
        "x": 640,
        "y": 560,
        "wires": [
            [
                "0f2815a186ef593e",
                "14c88ab80d6c05c0"
            ]
        ]
    },
    {
        "id": "c3954ce534a1c52a",
        "type": "junction",
        "z": "5d32bf0daa5f5bf4",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "39376c4c5180f45c"
            ]
        ]
    },
    {
        "id": "b93fa34efee37f84",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "zigbee-sub",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a263417b8e524a62",
        "type": "file in",
        "z": "7dd4192887583b3c",
        "name": "load switch state",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "d65a2ecb7acab3cd"
            ]
        ]
    },
    {
        "id": "d65a2ecb7acab3cd",
        "type": "json",
        "z": "7dd4192887583b3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "7ae781b23da54c3d"
            ]
        ]
    },
    {
        "id": "7ae781b23da54c3d",
        "type": "function",
        "z": "7dd4192887583b3c",
        "name": "switch on / off",
        "func": "msg.topic = `zigbee2mqtt/${msg.deviceId}/set`;\nmsg.qos = 2;\nmsg.retain = true;\n\nlet turnOn = msg.state === 'ON';\n\nif ((msg.payload.state === undefined || msg.payload.state === 'ON') && !turnOn) {\n    msg.payload = {state: 'OFF'};\n    node.status({ fill: \"black\", shape: \"dot\", text: `${msg.topic} off` });\n} else if ((msg.payload.state === undefined || msg.payload.state === 'OFF') && turnOn) {\n    msg.payload = {state: 'ON'};\n    node.status({ fill: \"green\", shape: \"dot\", text: `${msg.topic} on` });\n} else {\n    node.status({});\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "1c5a8476fa53a4cf",
                "359865e57e7bc1ef"
            ]
        ]
    },
    {
        "id": "9391f6c7b5fb719f",
        "type": "change",
        "z": "7dd4192887583b3c",
        "name": "process file name",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "deviceId",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "filename",
                "pt": "msg",
                "from": "^.*$",
                "fromt": "re",
                "to": "/home/henry/digital-twin/device_$&.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "a263417b8e524a62"
            ]
        ]
    },
    {
        "id": "1e548ee935549a9a",
        "type": "catch",
        "z": "7dd4192887583b3c",
        "name": "",
        "scope": [
            "a263417b8e524a62"
        ],
        "uncaught": false,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "92844732e92b3898"
            ]
        ]
    },
    {
        "id": "1c5a8476fa53a4cf",
        "type": "mqtt out",
        "z": "7dd4192887583b3c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b93fa34efee37f84",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "359865e57e7bc1ef",
        "type": "debug",
        "z": "7dd4192887583b3c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "84705932569f66b1",
        "type": "http in",
        "z": "633262fa0d86b337",
        "name": "switch status api",
        "url": "switch-status",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "528932fb695f02eb",
                "bbd99bae764f29df"
            ]
        ]
    },
    {
        "id": "bef8d5f8b088e001",
        "type": "http response",
        "z": "633262fa0d86b337",
        "name": "",
        "statusCode": "200",
        "headers": {
            "status": "success"
        },
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "b259185661602723",
        "type": "change",
        "z": "633262fa0d86b337",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "payload.deviceId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "payload.state",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "bef8d5f8b088e001",
                "dde43f8a6abaec26",
                "528932fb695f02eb"
            ]
        ]
    },
    {
        "id": "dde43f8a6abaec26",
        "type": "subflow:7dd4192887583b3c",
        "z": "633262fa0d86b337",
        "name": "",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "528932fb695f02eb",
        "type": "debug",
        "z": "633262fa0d86b337",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "bbd99bae764f29df",
        "type": "json",
        "z": "633262fa0d86b337",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "b259185661602723"
            ]
        ]
    },
    {
        "id": "5340a290eca6613b",
        "type": "catch",
        "z": "633262fa0d86b337",
        "name": "",
        "scope": [
            "dde43f8a6abaec26"
        ],
        "uncaught": false,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "95bb3bd75c097c31"
            ]
        ]
    },
    {
        "id": "95bb3bd75c097c31",
        "type": "http response",
        "z": "633262fa0d86b337",
        "name": "",
        "statusCode": "500",
        "headers": {
            "status": "success"
        },
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "7a197f46e9aaa49f",
        "type": "mqtt in",
        "z": "5d32bf0daa5f5bf4",
        "name": "humidity & temperature sensor",
        "topic": "zigbee2mqtt/0x00124b00251f6ccc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b93fa34efee37f84",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "626ca8253ee16b0e"
            ]
        ]
    },
    {
        "id": "b2ce5693fd06cad5",
        "type": "debug",
        "z": "5d32bf0daa5f5bf4",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "b0d1884355d3fba4",
        "type": "switch",
        "z": "5d32bf0daa5f5bf4",
        "name": "Trigger By Humidity",
        "property": "payload.humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "894294131f95bc12"
            ],
            [
                "c3954ce534a1c52a"
            ],
            [
                "52b72e600b4c4b70"
            ]
        ]
    },
    {
        "id": "0f2815a186ef593e",
        "type": "change",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn on switch one",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "0x00124b0025139717",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 540,
        "wires": [
            [
                "da8da00fd0aa989e"
            ]
        ]
    },
    {
        "id": "39376c4c5180f45c",
        "type": "change",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn on swith two",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "0x00124b0025139c1e",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 600,
        "wires": [
            [
                "da8da00fd0aa989e"
            ]
        ]
    },
    {
        "id": "7506236de1ecf70a",
        "type": "change",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn off switch one",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "0x00124b0025139717",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "da8da00fd0aa989e"
            ]
        ]
    },
    {
        "id": "14c88ab80d6c05c0",
        "type": "change",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn off switch two",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "0x00124b0025139c1e",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 720,
        "wires": [
            [
                "da8da00fd0aa989e"
            ]
        ]
    },
    {
        "id": "f2d9159608ffe962",
        "type": "inject",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn on the switch one",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "0f2815a186ef593e"
            ]
        ]
    },
    {
        "id": "28921aa1cd061e65",
        "type": "inject",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn on the switch two",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "39376c4c5180f45c"
            ]
        ]
    },
    {
        "id": "f08bcda5d9096680",
        "type": "inject",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn off the switch one",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "7506236de1ecf70a"
            ]
        ]
    },
    {
        "id": "d7856e60c670325d",
        "type": "inject",
        "z": "5d32bf0daa5f5bf4",
        "name": "turn off the switch two",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "14c88ab80d6c05c0"
            ]
        ]
    },
    {
        "id": "5fb7b5c4aca59f30",
        "type": "file",
        "z": "5d32bf0daa5f5bf4",
        "name": "save device state",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c407463e9b24d521",
        "type": "mqtt in",
        "z": "5d32bf0daa5f5bf4",
        "name": "devices state",
        "topic": "zigbee2mqtt/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b93fa34efee37f84",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "82beba77fc6c7499"
            ]
        ]
    },
    {
        "id": "58e888936d8f6c7e",
        "type": "debug",
        "z": "5d32bf0daa5f5bf4",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb14017c122dce26",
        "type": "status",
        "z": "5d32bf0daa5f5bf4",
        "name": "",
        "scope": [
            "7ae781b23da54c3d"
        ],
        "x": 160,
        "y": 820,
        "wires": [
            [
                "af1f3fcd24f3ec40"
            ]
        ]
    },
    {
        "id": "af1f3fcd24f3ec40",
        "type": "template",
        "z": "5d32bf0daa5f5bf4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{status.text}}\nthe status text.\n{{status.source.type}}\nthe type of the node that reported status.\n{{status.source.id}}\nthe id of the node that reported status.\n{{status.source.name}}",
        "output": "str",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "5a505f82b4b8fcb2"
            ]
        ]
    },
    {
        "id": "82beba77fc6c7499",
        "type": "function",
        "z": "5d32bf0daa5f5bf4",
        "name": "process filename",
        "func": "let deviceId = msg.topic.split('/')[1];\nmsg.filename = `/home/henry/digital-twin/device_${deviceId}.json`;\n\nnode.status({ text: JSON.stringify(msg.payload)} );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "f1f0d9d353303121"
            ]
        ]
    },
    {
        "id": "da8da00fd0aa989e",
        "type": "subflow:7dd4192887583b3c",
        "z": "5d32bf0daa5f5bf4",
        "name": "",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "2591fc19a2da8670",
        "type": "catch",
        "z": "5d32bf0daa5f5bf4",
        "name": "",
        "scope": [
            "5fb7b5c4aca59f30"
        ],
        "uncaught": false,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "5a505f82b4b8fcb2"
            ]
        ]
    },
    {
        "id": "5a505f82b4b8fcb2",
        "type": "debug",
        "z": "5d32bf0daa5f5bf4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 860,
        "wires": []
    }
]